<div>
<table class="deal-table">
  <thead>
    <tr>
      <th></th>
      <th>Burger</th>
      <th>Price</th>
      <th>Controls</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5">
        <div class="new-deal-button"><a href="/burgers/new">New Burger</a></div>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <% @burgers.each do |burger| %>
    <tr>
      <td><a href="/burgers/<%=burger.id%>"><img src="<%=burger.logo%>" height="50px" width="50px"/><a></td>
      <td><%=burger.name %></td>
      <td>£<%= burger.pretty_price %></td>
      <td><div class="edit-button"><a href="/burgers/<%=burger.id%>/edit">Edit</a></div>
          <form action="/burgers/<%=burger.id%>" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button class="delete-button">Delete</button>
          </form>

      </td>

    </tr>
      <% end %>
    </tbody>
  </tr>

</table>
</div>
