<div>
<table class="deal-table">
  <thead>
    <tr>
      <th></th>
      <th>Deal</th>
      <th>Burger</th>
      <th>Eatery</th>
      <th>Day</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Controls</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="8">
        <div class="new-deal-button"><a href="/deals/new">New Deal</a></div>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <% @deals.each do |deal| %>
    <tr>
      <td><a href="/deals/<%=deal.id%>"><img src="<%=deal.burger.logo%>" height="50px" width="50px"/><a></td>
      <td><%= deal.name %></td>
      <td><%= deal.burger.name %></td>
      <td><%= deal.eatery.name %></td>
      <td><%= deal.day %></td>
      <td>£<%= deal.burger.price %></td>
      <td>£<%= deal.burger.price * deal.discount %></td>
      <td><div class="edit-button"><a href="/deals/<%=deal.id%>/edit">Edit</a></div>
          <form action="/deals/<%=deal.id%>" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button class="delete-button">Delete</button>
          </form>

      </td>

    </tr>
      <% end %>
    </tbody>
  </tr>

</table>
</div>
