<div id="deals-table">
  <div class="titles">
    <h3>Today's Deals</h3>
    <div class="new-deal-button weekly-button"><a href="/burgers">All Burgers</a></div>
    <div class="new-deal-button weekly-button"><a href="/eateries">All Eateries </a></div>
    <div class="new-deal-button weekly-button"><a href="/weekly">Week's Deals </a></div>
  </div>
<% @deals.each do |deal|
  if deal.day == @today%>
  <div class="deal">
    <h3><%= deal.name %></h3>
    <div class="deal-image"
    <span><img src="<%=deal.burger.logo%>" height=100px width=100px/></span>
  </div>
    <a class="viewdeal-button" href="/deals/<%=deal.id%>">View Deal</a>
    <table class="deal-info">
      <tr><td><b>Burger</b> <a class="float-right"><%=deal.burger.name%></a></td><tr>
      <tr><td><b>Eatery</b> <a class="float-right"><%=deal.eatery.name%></a></td><tr>
      <tr><td><b>Regular Price</b> <a class="float-right"><del>£<%=deal.burger.pretty_price%></del></a></td><tr>
      <tr><td><b>Discounted Price</b> <a class="float-right red-text">£<%= deal.apply_discount %></a></td><tr>
  </table>
  </div>
    <%end%>
    <% end %>
</div>
