<div id="deals-table">
  <div class="titles">
    <h3>Week's Deals</h3>
  </div>

<div>
<table class="deal-table">
  <thead>
    <tr>
      <th>Day</th>
      <th></th>
      <th>Deal</th>
      <th>Burger</th>
      <th>Eatery</th>
      <th>Price</th>
      <th>Discount</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="7">
        <div class="new-deal-button"><a href="/">Home</a></div>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <% current_day = @deals[0].day %>
    <% @deals.each_with_index do |deal, index| %>
      <% if current_day == deal.day && index != 0 %>
        <% day_to_display = "" %>
      <% else %>
        <% day_to_display = deal.day %>
        <% current_day = deal.day %>
      <% end %>
    <tr>
      <td><span class="day-bold"><%= day_to_display %></span></td><td><img src="<%=deal.burger.logo%>" height="50px" width="50px"/></td><td><%= deal.name %></td><td><%= deal.burger.name %></td><td><%= deal.eatery.name %></td><td>£<%= deal.burger.pretty_price %></td><td>£<%= deal.apply_discount %></td></tr>
    <% end %>
    </tbody>
  </tr>

</table>
</div>
