<form class="new-edit-form" action="/deals/<%= @deal.id %>" method="post">
    <input type="hidden" name="_method" value="put"/>
  <p><label class="label">
    Select a Day:
    </label>
      <select class="select" name="day">
        <% for day in @days%>
        <<option value="<%=day%>" <%= "selected" if day == @deal.day%>><%= day %></option>
        <% end %>

      </select>
</p>

<p>
    <label for="discount-field" class="label">Discount:</label>
      <input
      class="select"
      type="text"
      name="discount"
      id="discount-field"
      placeholder="Discount (i.e 0.5)"
      value="<%= @deal.discount %>"
      required/>
  </p>

  <p>
    <label class="label">
      Select a Burger:
      </label>
        <select class="select" name="burger_id">
          <% for burger in @burgers %>
          <option value="<%= burger.id %>" <%= "selected" if burger.id == @deal.burger_id%>><%= burger.name %></option>
          <% end %>
        </select>
  </p>

  <p>
    <label class="label">
      Select an Eatery:
      </label>
      <select class="select" name="eatery_id">
        <% for eatery in @eateries %>
        <option value="<%= eatery.id %>" <%= "selected" if eatery.id == @deal.eatery_id%>><%= eatery.name %></option>
        <% end %>
      </select>
  </p>

  <p>
      <label for="deal-name-field" class="label">Deal Name:</label>
        <input
        class="select"
        type="text"
        name="name"
        id="deal-name-field"
        placeholder="Deal name"
        value="<%= @deal.name %>"
        required/>
  </p>
  <p>
    <input class="new-deal-button" type='submit' value="Update Deal">
  </p>
</form>
