<div>
<table class="deal-table">
  <thead>
    <tr>
      <th></th>
      <th>Burger</th>
      <th>Price</th>
      <th>Type</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4">
      <div class="new-deal-button"><a href="/">Home</a></div>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <% @burgers.each do |burger| %>
    <tr>
      <td><a href="/burgers/<%=burger.id%>"><img src="<%=burger.logo%>" height="50px" width="50px"/><a></td>
      <td><%=burger.name %></td>
      <td>£<%= burger.price %></td>
        <td><%= burger.type.to_s.capitalize %></td>
    </tr>
      <% end %>
    </tbody>
  </tr>

</table>
</div>
